body {
  padding: 50px;
  padding-bottom: 500px;
  background-color: #efefef;
}

h1{
  color: #333;
}


p{
  background-color: #999;
  padding: 10px;
}

/* É bem útil usar esse arquivo index.css para quando queremosmudar coisas globais, porém, quando eu quero estilizar componentes, fica muito bom também */